<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        <p><label for="username">Имя пользователя</label>
        <input type="text" name="username" id="username" required></p>
        <p><label for="password">Пароль</label>
        <input type="password" name="password" id="password" required></p>
        <button type="submit">Войти</button>
    </form>
</body>
</html>